.grid-prices{
    margin-top: 1.5rem;
}

.grid-prices > p{
    font-style: italic;
    font-size: 0.85em;
    color: rgba(98, 98, 98, 0.9);
}

.tablePrice{
    margin-bottom: 1.2rem;
}

.list-price {
    border: 1px solid rgba(98, 98, 98, 0.2);
}

.list-price .group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.list-price .group p{
    border-bottom: 1px solid rgba(98, 98, 98, 0.2);
    border-right: 1px solid rgba(98, 98, 98, 0.2);
    padding: 1.5rem;
}

.list-price .group.title{
    background: rgba(98, 98, 98, 0.2);
    text-transform: uppercase;
}

