.form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    width: 100%;
}

.form h2{
    margin-bottom: 1.2rem;
}

.form label{
    display: flex;
    align-items: center;
    gap: 6px;
}

.form label svg{
    font-size: 14px;
}

.form input{
    border: 1px solid rgba(35, 35, 35, 0.6);
    background: rgba(35, 35, 35, 0.3);
    padding: 0.6rem;
    margin-block: 0.5rem;
    font-size: 0.75rem;
    width: 100%;
    color: #FFF;
}

.form input:focus{
    outline: none;
}

.form button{
    display: block;
    font-size: 0.75rem;
    background: #990000 !important;
    padding: 0.7rem 1.3rem;
    letter-spacing: 1px;
}

.form + p{
    padding: 0 1rem;
}

.form + p span{
    cursor: pointer;
}

.form + p span:hover{
    text-decoration: underline;
}

.error{
    background: #c100a23d;
    padding: 0.6rem;
    border-radius: 3px;
    border: 1px solid #c100a25c;
    text-align: center;
}