.list-movie{
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgb(98 98 98 / 10%);
}

.list-movie:last-child{
    border: 0;
}

.list-movie .itens{
    flex: 1 1 calc(15% - 20px); 
}

.grid-itens{
    display: flex;
}

.grid-itens .poster{
    width: 100%;
    max-width: 200px;
    margin-right: 2rem;
}

.grid-itens h2{
    font-size: 1.8rem;
}

.grid-itens .information span{
    margin-block: 1.2rem;
    color: #888;
    display: block;
}

.grid-itens .information .time{
    display: flex;
    align-items: center;
    margin-bottom: 1rem ;
}

.grid-itens .information .duration{
    border: 2px solid rgba(98, 98, 98, 0.5);
    padding: 0.6rem 1rem;
    border-radius: 3px;
}


.room h3{
    display: inline-block;
    color: #888;
    font-weight: normal;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: 2px solid rgba(98, 98, 98, 0.5);
}

.room .list-hours{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-block: 1.4rem;
}

.room .list-hours div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 calc(50% - 20px);
    padding-left: 0.6rem;
    background: #292929;
    border-radius: 3px;
    width: 100%;
    position: relative;
}

@media(max-width:767px){

    .calendar .grid-select{
        padding: 1rem;
    }

    .calendar .grid-select:after{
        right: 30px;
    }

    .list-movie{
        padding: 1rem;
    }

    .list-movie .itens{
        flex: 1 1 calc(100% - 20px); 
    }
}

.grid-sinopse{
    display: flex;
    padding: 1rem 2rem;
    gap: 30px;
}

.grid-sinopse div{
    flex: 1 1 calc(50% - 20px);
}

.grid-sinopse h2{
    margin-bottom: 3rem;
}

.grid-sinopse p{
    line-height: 1.5;
}

.grid-sinopse iframe{
    border: 0;
}

@media(max-width:767px){
    .grid-sinopse{
        flex-direction: column;
    }
}