.calendar{
    margin-bottom: 4rem;
}

.calendar .grid-select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.calendar .grid-select select {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none; 
    background-color: #1b1b1b;
    border: 1px solid rgba(98, 98, 98, 0.2);
    color: #FFF;
    border-radius: 3px;
    padding: 10px 34px;
    font-size: 16px;
    cursor: pointer; 
    position: relative;
}

.calendar .grid-select select:focus{
    outline: none;
}

.grid-select:after {
    content: '▼'; 
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}

.calendar .selectDate{
    margin-top: 1.4rem;
}

.calendar .days-container {
    margin-top: 20px;
    width: 100%; 
}

.calendar .day-slide {
    background: #990000;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
    font-size: 1.4rem;
    padding: 1.2rem;
    cursor: pointer;
}

.calendar .slick-initialized .slick-slide > div{
    margin: 0 0.5rem;
}

.calendar .slick-dots li button:before{
    color: #FFF;
}

.calendar .slick-dots li.slick-active button:before{
    color: #990000;
}

.calendar .slick-dots li button:before{
    font-size: 12px;
}

.calendar .selected-day{
    background-color: #ffd700; 
}

.selectDate{
    display: flex;
    gap:20px;
}

@media(max-width:768px){
    .calendar .selectDate .slick-dots{
        bottom: auto;
    }

    .calendar .selectDate .slick-dots li{
        margin: 0;
    }
}