.btns-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btns-quantity span{
    width: 20px;
    text-align: center;
}

.btns-quantity .btn-plus,
.btns-quantity .btn-minus{
    border: 1px solid rgba(98, 98, 98, 0.2);
    width: 25px;
    height: 25px;
    background: #292929;
    color: #FFF;
    font-size: 1.2rem;
    cursor: pointer;
}

.btns-quantity .btn-plus[disabled]{
    opacity: 0.5;
    pointer-events: none;
}