.combo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 2rem;
}

.combo .grid-combo {
    display: flex; 
    align-items: flex-start; 
    padding: 6px;
    background: #1b1a1a; 
}

.combo .grid-combo .img {
    flex-shrink: 0; /* Impede que a imagem encolha */
    margin-right: 12px; 
}

.combo .grid-combo .img img {
    max-width: 100px;
    height: auto;
}

.combo .grid-combo .description {
    flex: 1; 
}

.combo .grid-combo h2{
    font-weight: normal;
    font-size: 1.3rem;
    color: #c5c5c5;
    margin-bottom: 0.5rem;
}

.combo .grid-combo p,
.combo .grid-combo .taxa{
    font-size: 0.75rem;
}

.combo .grid-combo .price,
.combo .grid-combo .taxa {
    display: block;
    color: #b09513;
}

.combo .grid-combo .grid-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.3rem 0 0;
}

@media(max-width: 1135px){
    .combo .grid-combo .grid-price{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

@media (max-width: 860px) {
    .combo .grid-combo {
        flex-direction: column;
    }

    .combo .grid-combo .grid-price{
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .combo {
        grid-template-columns: 1fr; 
    }

    .combo .grid-combo{
        flex-direction: row;
    }
}