.groupContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-seats {
    flex: 0 0 calc(65% - 20px);
    background: #141414;
    padding: 20px;
    position: relative;
}

.grid-seats{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.container-seats .group-seats{
    display: flex;
    gap: 20px;
}

.container-seats .screen{
    text-align: center;
    background: #161616;
    padding: 0.8rem 0.5rem;
    transform: perspective(500px) rotateX(10deg);
}

.container-seats .legend{
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid rgba(98, 98, 98, 0.8);
    margin-bottom: 3rem;
}

.container-seats .legend h2{
    font-size: 1rem;
    font-weight: normal;
}

.container-seats .legend ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 1rem;
    font-size: 0.85rem;
}

.container-seats .legend ul li{
    color: #888;
    display: flex;
    align-items: center;
    gap: 12px;
}

.container-seats .legend ul li.disponivel svg{
    color: #292929;
}

.container-seats .legend ul li.selecionado svg{
    color: rgb(73 128 73);
}

.container-seats .grid-seats .rows-seats{
    font-size: 12px;
    width: 42px;
}

.container-seats .grid-seats .rows-seats.right{
    margin-right: 10px;
}

.container-seats .grid-seats .rows-seats.left{
    margin-left: 10px;
}

.container-seats .btn-seats{
    border: 0;
    color: #FFF;
    background: #292929;
    width: 20%;
    height: 25px;
    margin: 0 3px 3px;
    border-radius: 3px;
    font-size: 9px;
    cursor: pointer;
    transition: 0.3s;
}

.container-seats .btn-seats:hover,
.container-seats .btn-seats.active{
    background: rgb(73 128 73);
}

.container-seats .btn-seats.empty-seat{
    background: transparent;
    cursor: auto;
}

@media(max-width:768px){
    .groupContainer{
        flex-direction: column;
        padding: 0 1rem;
    }

    .container-seats{
        width: 100%;
        margin-bottom: 2rem;
    }

    .rows-seats{
        display: none;
    }

}


/* Estilo da barra de progresso moderna */
.progress-bar {
    position: relative;
    height: 10px;
    width: 100%;
    background-color: #990000; 
    border-radius: 50px;
    margin: 20px 0;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.progress-bar-fill {
    height: 100%;
    width: 0; 
    background-color: #990000; 
    border-radius: 50px;
    transition: width 0.4s ease-in-out; 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.progress-bar-fill {
    background: linear-gradient(90deg, #990000, #a01e1e); 
}

.progress-bar::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 33.33%;
    width: 2px;
    height: 20px;
    background-color: #990000; 
    transform: translateY(-50%);
}

.progress-bar::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 66.66%;
    width: 2px;
    height: 20px;
    background-color: #990000; 
    transform: translateY(-50%);
}

.progress-bar-fill.complete {
    background-color: #141414; 
}
