.container-news{
    background: url('../../assets/bg.png') repeat 0 0;
    padding: 1.2rem;
}

.container-news p{
    margin-bottom: 3rem;
}

.container-news .grid-news{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container-news .news{
    flex: 1 1 calc(33.33% - 20px);
    background: #161616ab;
    padding-bottom: 1.2rem;
    border: 1px solid #202020ab;
    transition: 0.3s ease-in;
}

.container-news .news:hover{
    background: #ad494954;
}

.container-news .news a{
    text-decoration: none;
    color: #FFF;
    display: block;
    font-size: 1.2rem;
}

.container-news .news a,
.container-news .news .data{
    padding: 1.2rem;
    font-weight: normal;
}

.container-news .news h2{
    font-size: 1.4rem;
}

@media(max-width:768px){

    .container-news .news{
        flex: 1 1 calc(45%)
    }
    .container-news .news a,
    .container-news .news .data{
        font-size: 0.85rem;
    }
}