.slick-dots{
    margin-top: 10px !important;
}

.slick-dots li button:before{
    color: #FFF !important;
    font-size: 0.8rem !important;
}

.slick-dots li.slick-active button:before{
    color: #990000 !important;
}