*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", serif;
    background: #111;
    color: #FFF;
}

main{
    min-height: 60vh;
}

.container{
    width: 100%;
    max-width: 1200px;    
    margin: 2rem auto;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li a{
    text-decoration: none;
}

img{
    width: 100%;
}

.sinopse{
    cursor: pointer;
}

.btn-cart{
    background: #990000;
    border-radius: 0 3px 3px 0;
    border: 0;
    padding-inline: 1rem;
    height: 50px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.btn-cart:hover{
    background: #b10202;
}

.btn-cart svg{
    font-size: 1.2rem;
    color: #FFF;
}

.btn-cart.selected {
    background: lightgreen;
}

.btn-programation{
    text-decoration: none;
    background: #b10202;
    color: #FFF;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    display: block;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s ease-out;
}

.btn-programation:hover{
    opacity: 0.7;
}

.idade-livre{
    background: green;
}

.idade-12{
    background: orange;
}

.idade-16{
    background: lightblue;
}

.idade-18{
    background: #990000;
}

iframe{
    border: 0;
}

@media(max-width:1020px){
    .grid-details,
    .grid-details + p{
        padding: 0 1rem;
    }
    .grid-details + .showtimes {
        margin-top: 1rem;
        padding: 0 1rem;
    }

    .grid-details + p{
        margin-top: 1.2rem;
    }
}

