.container-resumo{
    background: #141414;
    padding: 20px;
    flex: 0 0 calc(35%);
}

.container-resumo.finalizado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.container-resumo .grid-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.container-resumo .grid-title h2{
    font-size: 1.4rem;
    font-weight: normal;
}

.container-resumo .grid-title svg{
    font-size: 1.2rem;
    color: #990000;
    transition: 0.3s;
    cursor: pointer;
}

.container-resumo .grid-title:hover svg{
    color: #dc0606;
}

.grid-resumo{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    height: 85%; */
    gap: 20px;
}

.grid-resumo .image img{
    background-size: cover;
}

.grid-resumo .grid-description{
    display: flex;
    gap: 20px;
}

.grid-resumo .grid-description div{
    width: 100%;
}

.grid-resumo .grid-description h2{
    font-size: 1.2rem;
}

.grid-resumo .grid-description h3{
    font-size: 0.85rem;
    font-weight: normal;
}

.grid-resumo .grid-description .item-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 0.8rem 0;
    color: #FFF;
}

.grid-resumo .grid-description .item-1 .classification{
    padding: 0.3rem;
    font-size: 10px;
    margin: 0;
    color: #FFF;
}

.grid-resumo .grid-description .item-1 .dub,
.grid-resumo .grid-description .item-1 .leg{
    font-size: 10px;
    text-transform: uppercase;
    padding: 0.3rem;
    border-radius: 3px;
}

.grid-resumo .grid-description .item-1 .dub{
    background: rgb(132, 0, 255);
}

.grid-resumo .grid-description .item-1 .leg{
    background: rgb(0, 170, 255);
}

.grid-resumo .grid-description .item-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(98, 98, 98, 0.8);
    font-size: 11px;
}

.grid-resumo .grid-description .item-3 .listSeats{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
}

.grid-resumo .grid-description .item-3 .listSeats .seat{
    background: rgb(73 128 73);
    color: #FFF;
    font-size: 10px;
    padding: 0.3rem;
    border-radius: 3px;
    width: 32px;
    text-align: center;
}

.grid-resumo .grid-paymets{
    padding-bottom: 2rem;
}

.grid-resumo .grid-paymets div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 0.5rem;
}

.navigation-buttons{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.navigation-buttons button{
    border: 0;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    color: #FFF;
    background: #1b1b1b;
    border: 1px solid rgba(98, 98, 98, 0.2);
    cursor: pointer;
}

@media(max-width:1135px){
    .grid-resumo .grid-description{
        flex-direction: column;
    }
}

@media(max-width:768px){
    .grid-resumo .grid-description{
        flex-direction: row;
    }
}

.grid-bomboniere,
.grid-ticket{
    border-bottom: 1px solid #292929;
    margin: 0.8rem 0;
    padding: 0.8rem 0;
}

.grid-bomboniere h3,
.grid-ticket h3{
    font-weight: normal;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}

.grid-bomboniere .list-produto,
.grid-ticket .list-ticket{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
}

.grid-ticket .list-ticket div{
    display: flex;
    align-items: center;
}

.grid-ticket div .qtda{
    background: #cb9c21;
    padding: 0.3rem 0.4rem;
    border-radius: 25px;
    color: #FFF;
    margin-right: 1rem;
}

.grid-bomboniere .list-information{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.grid-bomboniere div span,
.grid-ticket div span{
    font-size: 0.75rem;
    color: #cb9c21;
}

.grid-bomboniere h4{
    font-size: 1rem;
    font-weight: normal;
    color: rgb(73 128 73);
    margin-bottom: 0.3rem;
}

.modal-ingressos,
.modal-excluir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.modal-ingressos svg,
.modal-excluir svg{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.modal-excluir h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.modal-ingressos h2{
    font-size: 1.4rem;
    margin-bottom: 0.5rem !important;
}